// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_height: 40px;
$sidebar_width: 250px;
$footer_height: 28px;

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header_height;
    width: 100%; 
    background: #ffffff;
    display: flex;
    align-items: center;
    svg {
        margin-right: 10px;
    }
}

#editor {
    position: absolute;
    top: $header_height;
    left: 0;
    bottom: $footer_height;
    right: $sidebar_width;
}

#sidebar {
    position: absolute;
    width: $sidebar_width;
    right: 0;
    top: $header_height;
    bottom: $footer_height;
    background: #f0f0f0;
    #myVideoArea {
        width: 99%;
        height: 150px;
        margin-left: auto;
        margin-right: auto; 
        display: block;
        background: #4d4d4d; 
        margin-bottom: 5px;
        svg {
            position: absolute;
            left: 95px;
            top: 40px;
        }
        p {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 85px;
            font-size: 10px;
            color: #d4d4d4;
        }
        .actionButton { 
            position: absolute;
            width: 55%;
            height: 40px;
            display: none;
            justify-content: center;
            margin-left: 55px;
            z-index: 100;
            top: 104px;
            
            div { 
                width: 40px;
                height: 40px;
                margin-right:  auto;
                margin-left: auto;
                
                display: block;
                border-radius: 50%; 
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            .on {
                background-color: #444;
            }
            .off {
                background-color: #ce021b;
            }
            #micro-switch.on {
                background-image: url(image-path('microphone.svg'));
            }
            #micro-switch.off {
                background-image: url(image-path('micro-mute.svg')); 
            }
            #video-switch.on {
                background-image: url(image-path('video.svg')); 
            }
            #video-switch.off {
                background-image: url(image-path('video-muted.svg')); 
            }
            #stop-button {
                background-image: url(image-path('stop.svg')); 
                background-color: #444;
            }

        }
    }
    #chatArea {
        width: 99%;
        top: 0; 
        height: calc(100% - 163px);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;


        #messagesArea {
            height: calc(100% - 60px);
            background: #FAFAFA;
            overflow: auto;
            padding-bottom: 15px;
            padding-right: 2px;
            p {
                font-weight: 400;
            }
            .legendChat {
                width: 100%;
                text-align: center;
                color: #999;
            }
        }
        p {
            font-size: 10px;
            margin-top: 4px;
            margin-bottom: 2px;
            margin-left: 2px;
            font-weight: 600;
        }
        input {
            margin: 0;
            padding: 4px; 
            width: calc(100% - 10px);
        }

    }
}


 .rightButtons {

    margin-left: auto;
    display: flex;

    span {
        line-height: 40px;
        font-size: 10px;
    }

    input {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; 
        border: 1px solid #cdcdcd;
        color: #999;
        padding: 5px;
        margin: 8px;
        border: 1px solid #cdcdcd;
        height: 12px;
        width: 300px;
        text-align: center;
    }
    
    .btn {  
        padding: 18px;
        border-left: 1px solid #dedede;
        display: block;
        text-decoration: none; 
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: .60; 
    }   

    .btn:active {
        opacity: 1;  
    }
 
    .upload-cloud {
        background-image: url(image-path('upload-cloud.svg'));
    }

    .share {
        background-image: url(image-path('share.svg'));
    }

 }

#footer {
    padding-left: 10px;
    position: absolute;
    height: $footer_height;
    line-height: $footer_height;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FAFAFA; 
    display: flex;
    span {
        margin-left: 0px;
        margin-right: 7px;
        vertical-align: middle; 
        font-weight: 600;
        line-height: $footer_height;
    }
    div {
        margin-right: 8px;
    }
}

.spechBubleContainer {

    img {
        width: 32px;
    }

    img.right {
        float: right; 
    }

    img.left {
        float: left; 
    }

    .nickname-left {
        font-size: 9px;
        margin-right: 35px;
        text-align: right;
        color: #888;
    }

    .nickname-rigth {
        font-size: 9px;
        margin-left: 35px;
        text-align: left;
        color: #888;
    }

    .speech-bubble-right {
        position: relative;
        background: #5eb2f5;
        border-radius: .4em;
        margin: 15px;
        padding: 8px;
        font-size: 11px;
        margin-right: 35px;
        margin-bottom: 0;
        margin-top: 6px;
        color: #ffffff;
    }
    
    .speech-bubble-right:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 0.531em solid transparent;
        border-left-color: #5eb2f5;
        border-right: 0;
        border-bottom: 0;
        margin-top: -0.266em;
        margin-right: -0.531em;
    }
    
    .speech-bubble-left {
        position: relative;
        background: #cccccc;
        border-radius: .4em;
        font-size: 11px;
        margin: 15px;
        padding: 8px;
        margin-left: 35px;
        margin-bottom: 0;
        margin-top: 6px;
    }
    
    .speech-bubble-left:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 0.531em solid transparent;
        border-right-color: #cccccc;
        border-left: 0;
        border-bottom: 0;
        margin-top: -0.266em;
        margin-left: -0.531em;
    }

}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url(image-path('up-chevron.svg')) no-repeat 94% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}